{% extends "base.html" %}
{% load event_tags %}
{% block add_styles %}
    nav.navbar {display: none;}
    #page-wrapper {
    margin: 0 0 0 0;
    padding: 0 0;
    }
    br {margin: 0;}
    h2 {margin: -5px 0px 0px;background-color: white;padding: 5px 15px 8px;border-bottom: 1px solid #e8e8e8;}

    ul.breadcrumb {display:none}
    span.close_link {font-size: 14px;}
    .metric-data{margin-top: 40px;}
    .graph {height: 45vh; width: 100%;}
    .graph-500 {height: 65vh; width: 100%;}
    #punchcard .flot-x-axis .flot-tick-label span {  transform: rotate(45deg);-webkit-transform:
    rotate(-45deg);-ms-transform:rotate(-45deg);display: inline-block;}
{% endblock %}
{% block content %}
    <div class="row navbar-fixed-top">
        <div class="col-md-12">
            <h2>{{ name }}  <!-- {{ start_date.date }} - {{ end_date.date }} -->
                <a class="btn close pull-right" href="{% url 'metrics' %}" aria-hidden="true">&times;</a>
            </h2>
        </div>
    </div>
    <div class="row metric-data">


        <div class="col-md-4 section-start">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Total Open Master Tickets: <b>700</b>    
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="total_mts" class="graph"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>        

        <div class="col-md-8 section-start">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Master Tickets Step Distribution
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="mt_distribution" class="graph"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Implementation Engineer assigned accounts
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="ie_distribution" class="graph"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

        <div class="col-md-8 section-start">
            <div class="panel panel-default">
                <div class="panel-heading">
                    NPS Responses
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="nps_responses" class="graph"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

        <div class="col-md-4 section-start">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Provisioning Queue in CORE   
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="core_queue" class="graph"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>  


        <div class="col-md-12 section-start">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Supply Chain Delivery Metric
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="chart_div4" class="graph"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

    </div>
    <br/>
{% endblock %}
{% block postscript %}
    <!-- Flot Charts JavaScript -->
    <script src="{{ STATIC_URL }}flot/excanvas.min.js"></script>
    <script src="{{ STATIC_URL }}flot/jquery.flot.js"></script>
    <!-- Flot Bar Numbers plugin: https://github.com/jasonroman/flot-barnumbers-enhanced/blob/master/example.html -->
    <script src="{{ STATIC_URL }}dojo/js/jquery.flot.barnumbers.enhanced.min.js"></script>
    <script src="{{ STATIC_URL }}flot/jquery.flot.pie.js"></script>
    <script src="{{ STATIC_URL }}flot/jquery.flot.time.js"></script>
    <script src="{{ STATIC_URL }}flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="{{ STATIC_URL }}flot/jquery.flot.stack.js"></script>

    {% if punchcard %}
        <script src="{{ STATIC_URL }}JUMFlot/JUMFlot.min.js"></script>
        <script src="{{ STATIC_URL }}JUMFlot/jquery.flot.mouse.js"></script>
        <script src="{{ STATIC_URL }}JUMFlot/jquery.flot.bubbles.js"></script>
    {% endif %}
    <script>
        $(function () {
            setInterval(function () {
                window.location.reload();
            }, 900000);


            var i = 0;
            items = $('.section-start');
            setInterval(function () {
                item = items.get(i);
                ++i;
                $('html, body').animate({

                    scrollTop: $(item).offset().top - 55
                }, 4000);
                if (i >= items.length) i = 0;

            }, 20000);


            var options = {
                xaxes: [{
                    mode: 'time',
                    timeformat: "%m/%y"
                }],
                yaxes: [{
                    min: 0
                }],
                series: {
                    lines: {
                        show: true
                    },
                    points: {
                        show: true
                    }
                },
                grid: {
                    hoverable: false,
                    borderWidth: 1,
                    borderColor: '#e7e7e7',

                },
                tooltip: false,
            };
            total_mts();
            mt_distribution();
            // chart_div();
            ie_distribution();
            
            nps_responses();
            core_queue();
            chart_div4();
            
            severity_pie();
            total_accepted_pie();
            total_closed_pie();

            function total_mts() {
                var data = [
                    { label: "On Time",  data: 659, color: "#89A54E"},
                    { label: "Late",  data: 300, color: "#AA4643"},
                ];

                $.plot($("#total_mts"), data, {
                     series: {
                        pie: {
                            show: true,
                            radius: 1,
                            label: {
                                show: true,
                                radius: 2/3,
                                formatter: function(label, series) {
                                return '<div style="font-size:14px ;text-align:center; padding:2px; color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                                }
                            },
                            threshold: 0.1
                        }
                     },
                     legend: {
                        show: true
                        // labelBoxBorderColor: "none"
                     }
                });
            }

            function core_queue() {
                var data = [
                    { label: "Assigned tickets",  data: 4, color: "#89A54E"},
                    { label: "Unassigned tickets",  data: 10, color: "#AA4643"},
                ];

                $.plot($("#core_queue"), data, {
                     series: {
                        pie: {
                            show: true,
                            radius: 1,
                            label: {
                                show: true,
                                radius: 2/3,
                                formatter: function(label, series) {
                                return '<div style="font-size:14px ;text-align:center; padding:2px; color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                                }
                            },
                            threshold: 0.1
                        }
                     },
                     legend: {
                        show: true
                        // labelBoxBorderColor: "none"
                     }
                });
            }

            function ie_distribution() {
                var critical = [ [0,100], [1,120], [2,89], [3,99], [4,110], [5, 80], [6, 45], [7,115] ],
                    ticks = [ [0, "Engineer 1"], [1, "Engineer 2"], [2, "Engineer 3"], [3, "Engineer 4"], [4, "Engineer 5"], [5, "Engineer 6"], [6,"Engineer 7"], [7,"Engineer 8"] ];
                       

                $.plot($("#ie_distribution"), [{
                            data: critical,
                            label: "Assigned Accounts",
                            color: "#f0ad4e",
                        } ],
                        {
                            series: {
                                stack: true,
                                bars: {
                                    show: true,
                                    barWidth: .9,
                                    'align': "center",
                                    // numbers: {
                                    //     show: true,
                                    //     // font: '14pt Arial',
                                    //     // fontColor: '#FFFFFF',
                                    //     // threshold: 0.25,
                                    //     // yAlign: function(y) { return y; },
                                    //     // yOffset: 5


                                    // }
                                

                                },


                            },
                            grid: {
                                hoverable: false,
                                borderWidth: 1,
                                borderColor: '#e7e7e7',

                            },
                            tooltip: true,
                            legend: {
                                position: "ne"
                            },
                            xaxis: {
                                ticks: ticks,
                            },
                        }



                        );
            };

            function nps_responses() {
                var critical = [],
                        high = [],
                        medium = [],
                        low = [];

                {% for month in opened_per_week|slice:'1:' %}
                    critical.push([{{ month.0 }}, {{ month.2 }}]);
                    high.push([{{ month.0 }}, {{ month.3 }}]);
                    medium.push([{{ month.0 }}, {{ month.4 }}]);
                    low.push([{{ month.0 }}, {{ month.5 }}]);
                {% endfor %}
                var options = {
                    xaxes: [{
                        mode: 'time',
                        timeformat: "%m/%d/%Y"
                    }],
                    yaxes: [{
                        min: 0
                    }],
                    series: {
                        lines: {
                            show: true
                        },
                        points: {
                            show: true
                        }
                    },
                    grid: {
                        hoverable: true,
                        borderWidth: 1,
                        borderColor: '#e7e7e7',

                    },
                    tooltip: true,
                };


                var plotObj = $.plot($("#nps_responses"), [{
                            data: critical,
                            label: " Critical",
                            color: "#d9534f",
                        }, {
                            data: high,
                            label: " High",
                            color: '#f0ad4e',
                        }, {
                            data: medium,
                            label: " Medium",
                            color: '#f0de28',
                        }, {
                            data: low,
                            label: " Low",
                            color: '#337ab7',
                        }],
                        options);
            }

            function chart_div4() {
                var critical = [],
                        high = [],
                        medium = [],
                        low = [];

                {% for month in accepted_per_week|slice:'1:' %}
                    critical.push([{{ month.0 }}, {{ month.2 }}]);
                    high.push([{{ month.0 }}, {{ month.3 }}]);
                    medium.push([{{ month.0 }}, {{ month.4 }}]);
                    low.push([{{ month.0 }}, {{ month.5 }}]);
                {% endfor %}
                var options = {
                    xaxes: [{
                        mode: 'time',
                        timeformat: "%m/%d/%Y"
                    }],
                    yaxes: [{
                        min: 0
                    }],
                    series: {
                        lines: {
                            show: true
                        },
                        points: {
                            show: true
                        }
                    },
                    grid: {
                        hoverable: false,
                        borderWidth: 1,
                        borderColor: '#e7e7e7',

                    },
                    tooltip: false,
                };


                var plotObj = $.plot($("#chart_div4"), [{
                            data: critical,
                            label: " Critical",
                            color: "#d9534f",
                        }, {
                            data: high,
                            label: " High",
                            color: '#f0ad4e',
                        }, {
                            data: medium,
                            label: " Medium",
                            color: '#f0de28',
                        }, {
                            data: low,
                            label: " Low",
                            color: '#337ab7',
                        }],
                        options);
            }

            function mt_distribution() {
                var ontime = [ [0,100], [1,120], [2,89], [3,99], [4,110]];
                var late = [ [0,150], [1,70], [2,30], [3,33], [4,29] ];
                var medium = [];
                var low = [];
                var ticks = [ [0, "Step 1"], [1, "Step 2"], [2, "Step 3"], [3, "Step 4"], [4, "Step 5"] ];
                // {% for t in top_ten_products %}
                //     ttp = {{forloop.counter}}
                //             ticks.push([ttp, $("{{t.0|safe}}").text()]),
                //             critical.push([ttp, {{t.1}}]);
                //     high.push([ttp, {{t.2}}]);
                //     medium.push([ttp, {{t.3}}]);
                //     low.push([ttp, {{t.4}}]);
                // {% endfor %}

                data1 = [
                    {
                        data: ontime,
                        color: "#337ab7",
                        bars: {fill: 1},
                        label: 'On Time',
                    },
                    {
                        data: late,
                        color: "#d9534f",
                        bars: {fill: 1},
                        label: 'Late',

                    },
                    // {
                    //     data: medium,
                    //     color: "#f0de28",
                    //     bars: {fill: 1},
                    //     label: 'Medium',
                    // },
                    // {
                    //     data: low,
                    //     color: "#337ab7",
                    //     bars: {fill: 1},
                    //     label: 'Low',
                    // },
                ];

                $.plot("#mt_distribution", data1, {
                    series: {
                        stack: true,
                        bars: {
                            show: true,
                            barWidth: .9,
                            'align': "center",
                        },

                    },
                    grid: {
                        hoverable: false,
                        borderWidth: 1,
                        borderColor: '#e7e7e7',

                    },
                    tooltip: false,
                    legend: {
                        position: "ne"
                    },
                    xaxis: {
                        ticks: ticks,
                    },
                });
            }

            function severity_pie() {
                var data = [{
                    label: "Critical",
                    color: "#d9534f",
                    data: {{in_period_counts.Critical}}
                }, {
                    label: "High",
                    color: "#f0ad4e",
                    data: {{in_period_counts.High}}
                }, {
                    label: "Medium",
                    color: "#f0de28",
                    data: {{in_period_counts.Medium}}
                }, {
                    label: "Low",
                    color: "#337ab7",
                    data: {{in_period_counts.Low}}
                }];

                var plotObj = $.plot($("#opened_in_period"), data, {
                    series: {
                        pie: {
                            show: true,
                            radius: 1,
                            label: {
                                show: true,
                                radius: 2 / 3,
                                formatter: function (label, series) {
                                    return '<div style="font-size:8pt;text-align:center;padding:2px;color:black;z-index:9999;">' + label + '<br/>' + series.data[0][1] + '</div>';

                                },

                            }
                        }
                    },
                    grid: {
                        hoverable: false
                    },
                });
            }

            function total_accepted_pie() {
                var data = [{
                    label: "Critical",
                    color: "#d9534f",
                    data: {{accepted_in_period_counts.Critical}}
                }, {
                    label: "High",
                    color: "#f0ad4e",
                    data: {{accepted_in_period_counts.High}}
                }, {
                    label: "Medium",
                    color: "#f0de28",
                    data: {{accepted_in_period_counts.Medium}}
                }, {
                    label: "Low",
                    color: "#337ab7",
                    data: {{accepted_in_period_counts.Low}}
                }];

                var plotObj = $.plot($("#total_accepted_in_period"), data, {
                    series: {
                        pie: {
                            show: true,
                            radius: 1,
                            label: {
                                show: true,
                                radius: 2 / 3,
                                formatter: function (label, series) {
                                    return '<div style="font-size:8pt;text-align:center;padding:2px;color:black;z-index:9999;">' + label + '<br/>' + series.data[0][1] + '</div>';

                                },

                            }
                        }
                    },
                    grid: {
                        hoverable: false
                    },
                });
            }

            function total_closed_pie() {
                var data = [{
                    label: "Critical",
                    color: "#d9534f",
                    // data: 19.5 
                    data: {{closed_in_period_counts.Critical}}
                }, {
                    label: "High",
                    color: "#f0ad4e",
                    // data: 20 
                    data: {{closed_in_period_counts.High}}
                }, {
                    label: "Medium",
                    color: "#f0de28",
                    // data: 50
                    data: {{closed_in_period_counts.Medium}}
                }, {
                    label: "Low",
                    color: "#337ab7",
                    // data: 40
                    data: {{closed_in_period_counts.Low}}
                }];

                var plotObj = $.plot($("#total_closed_in_period"), data, {
                    series: {
                        pie: {
                            show: true,
                            radius: 1,
                            label: {
                                show: true,
                                radius: 2 / 3,
                                formatter: function (label, series) {
                                    return '<div style="font-size:8pt;text-align:center;padding:2px;color:black;z-index:9999;">' + label + '<br/>' + series.data[0][1] + '</div>';

                                },

                            }
                        }
                    },
                    grid: {
                        hoverable: false
                    },
                });


            }

            {%  if punchcard %}

                punchcard();
                function punchcard() {
                    var d1 = {{ punchcard|safe }};
                    var ticks = {{ ticks|safe }};

                    var options = {
                        xaxis: {
                            ticks: ticks,
                            min: -.8,
                            max: ticks.length - .2,
                            tickLength: 0,
                            labelAngle: 90,
                        },
                        series: {
                            bubbles: {
                                active: true,
                                debug: {
                                    active: false
                                },
                                show: true,
                                bubblelabel: {
                                    show: false,
                                },
                            },
                            nearBy: {
                                distance: 5
                            }
                        },
                        yaxis: {
                            autoscaleMargin: 0.1,
                            ticks: [[6, 'Sun'], [5, 'Mon'], [4, 'Tue'], [3, 'Wed'], [2, 'Thur'], [1, 'Fri'], [0, 'Sat']],
                            min: -.5,
                            max: 6.5,
                            tickLength: 0,
                        },
                        grid: {
                            hoverable: true,
                            borderWidth: {top: 0, right: 0, bottom: 1, left: 0},
                            borderColor: '#e7e7e7',
                            clickable: true,
                            markings: function (axes) {
                                var markings = [];

                                for (var x = 0; x < axes.yaxis.max; x += .5)
                                    markings.push({yaxis: {from: x, to: x},});

                                for (var x = -0; x < axes.xaxis.max; x += 1)
                                    markings.push({xaxis: {from: x, to: x}});

                                for (var x = -.5; x < axes.yaxis.max + 1; x += 1)
                                    markings.push({yaxis: {from: x, to: x - .75}, color: 'white'});


                                return markings;


                            }

                        },
                        tooltip: true,
                        tooltipOpts: {
                            content: function (label, xval, yval, flotItem) {
                                for (var x = 0; x < flotItem.series.data.length; x++) {
                                    if (xval == flotItem.series.data[x][0] && yval == flotItem.series.data[x][1]) {
                                        yeah = flotItem.series.data[x][2] * {{ highest_count }};
                                        break;
                                    }
                                }
                                return yeah + ' Findings';
                            },
                            shifts: {
                                y: -40,
                                x: -20
                            }
                        },
                        legend: {
                            show: false,
                        }


                    };
                    var p4 = $.plot($("#punchcard"),
                            [{
                                data: d1,
                                color: "#444",
                            }],
                            options);

                }
            {%  endif %}



        })
    </script>
{% endblock %}
